/* Columns - medium */

@media (min-width: $breakpoint-lg) {
  .gridd-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .gridd-col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .gridd-col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .gridd-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .gridd-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .gridd-col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .gridd-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .gridd-col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .gridd-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .gridd-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .gridd-col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .gridd-col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .gridd-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
