/* Columns - medium */

@media (min-width: $breakpoint-md) {
  .gridd-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .gridd-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .gridd-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .gridd-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .gridd-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .gridd-col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .gridd-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .gridd-col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .gridd-col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .gridd-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .gridd-col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .gridd-col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .gridd-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
